* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(25deg, #000, #303030);
  height: 100vh;
}

.gtext {
  font-family: Consolas, monospace;
  font-size: 1rem;
  white-space: pre;
}

.gline {
  height: 1.8em;
  width: 100%;
  font-family: Consolas, monospace;
  font-size: 1rem;
}

.gpanel {
  position: fixed;
  border-radius: 20px;
  background: rgba(127, 127, 127, 0.01);
  box-shadow: 12px 12px 48px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  overflow: hidden; /* for the gloss overlay */
  overflow-x: auto;
  margin: 0;
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
}

.gpanelContents {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gmeasure {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  white-space: pre;
}

.gtextEntry {
  height: 1px;
  width: 1px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  white-space-collapse: preserve;
  text-wrap-mode: none;
  overflow: hidden;
  overflow-wrap: normal;
  cursor: text;
}

.gcursor {
  position: absolute;
  background-color: #fff;
  width: 2px;
  border-radius: 2px;
  pointer-events: none;
  display: block;
  visibility: hidden;
  border-color: #aeafad;
  background-color: #aeafad;
  overflow: hidden;
  cursor: text;
}

.gcursorOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  top: 0;
}

.glines {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}